{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="masthead text-black mt-5 height">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h4>
                        {% for flashError in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}
                    </h4>
                    <h1 class="h3 mt-3 font-weight-normal">Reset your password</h1>
                    <h5 class="mt-1"> 
                        {{ form_start(resetForm) }}
                            <div class="row mt-3">
                                <div class="col">
                                    {{ form_label(resetForm.plainPassword, 'Type your new password') }}
                                    {{ form_row(resetForm.plainPassword) }}
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <button class="btn btn-lg btn-primary">Reset password</button>
                                </div>
                            </div>
                        {{ form_end(resetForm) }}
                    </h5>               
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
