{% block form %}
{{ form_start(form) }}

    <div class="row mt-3">
        <div class="col">
            {{ form_label(form.url, 'Paste the url you want to cut short') }}
            {{ form_row(form.url, { 'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            {{ form_row(form.submit, { 'attr': {'class': 'btn btn-lg btn-primary mt-3 mb-3'}, 'label': 'Cut the link!'}) }}
        </div>
    </div>

{{ form_end(form) }}
{% endblock %}