{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand link" href="{{ path('index') }}"><img rel="icon" type="image/x-icon" height="15" alt="Heivice icon" src="{{ asset('favicon/favicon.ico') }}" />eivice</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link {% if app.request.get('_route') == 'downloader' %} active {% endif %}" href="{{ path('downloader') }}">Downloader</a>
            <a class="nav-link {% if app.request.get('_route') == 'about' %} active {% endif %}" href="{{ path('about') }}">About</a>
            <a class="nav-link {% if app.request.get('_route') == 'contact' %} active {% endif %}" href="{{ path('contact') }}">Contact</a>
            <a class="nav-link {% if app.request.get('_route') == 'login' %} active {% endif %}" href="{{ path('login') }}">Login</a>
            {# <a class="nav-link {% if app.request.get('_route') == 'register' %} active {% endif %}" href="{{ path('register') }}">Register</a> #}
            <a class="nav-link {% if app.request.get('_route') == 'logout' %} active {% endif %}" href="{{ path('logout') }}">Logout</a>
            </div>
        </div>
    </div>
</nav>

{% endblock %}