{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand link" href="{{ path('index') }}">Heivice</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link {{ app.request.get('_route') == '_list' ? 'active' }}" href="{{ path('downloader') }}">Downloader</a>
            <a class="nav-link {{ app.request.get('_route') == '_list' ? 'active' }}" href="{{ path('about') }}">About</a>
            <a class="nav-link {{ app.request.get('_route') == '_list' ? 'active' }}" href="{{ path('contact') }}">Contact</a>
            </div>
        </div>
    </div>
</nav>

{% endblock %}