{% block form %}
{{ form_start(form) }}

    <div class="row mt-3">
        <div class="col">
            {{ form_row(form.title, { 'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            {{ form_row(form.memo, { 'attr': {'class': 'form-control', 'style': 'height: 130px;', 'contenteditable': 'true'}}) }}
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            {{ form_row(form.submit, { 'attr': {'class': 'btn btn-lg btn-primary mt-3 mb-3'}, 'label': 'Save'}) }}
        </div>
    </div>

{{ form_end(form) }}
{% endblock %}